<div class="container">
  <h1>LIST</h1>

  <% @list.bookmarks.each do |bookmark| %>
    <p><%= bookmark.movie.title %></p>
    <%= bookmark.comment %>
     <%= link_to "DELETE Bookmark", bookmark_path(bookmark),
        method: :delete,
        data: { confirm: "Are you sure ?" } %>
  <% end %>
  
  <div>
   <%= link_to "Create a bookmark", new_list_bookmark_path(@list) %>
   <%= link_to "Back to LISTS menu", lists_path(@list) %>
   
  </div>
</div>